<%- include('../partials/header') %>

<h1><%= skill.skill %></h1>
<h3>Status:  <%= skill.achieved ? 'Achieved' : 'Not Achieved ..Yet' %></h3>

<br>

<a href="/skills/<%= skill.id%>/edit">Edit Skill</a>

<br>
<br>

<form action="/skills/<%= skill.id %>?_method=DELETE"
  method="POST" class="delete-form">
  <button type="submit">Delete Skill</button>
</form>

<%- include('../partials/footer') %>